* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.site-title {
  font-size: 1.5rem;
}

.nav {
  background-color: #882929;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
}

.nav ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.nav .user-info p{
  margin: -.0rem 0;
}

.user--dropDown {
  display: flex;
  flex-direction: column;
}

.nav a,
.side a {
  color: inherit;
  text-decoration: none;
}

.nav li.active,
.side li.active {
  background-color: #882929;
  color: white;
}

.nav li:hover,
.side li:hover{
  background-color: #a73030;
}

.main {
  display: flex;
}

.side {
  display: flex;
  flex-direction: column;
  width: 20rem;
}

.side img{
  width: 20rem;
  display: flex;
  padding: 1rem;
}

.side .title {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

.side ul{
  list-style-type: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-bar {
  font-size: 1.5rem;
}

.side-bar a{
  height: 100%;
  display: flex;
  align-items: center;
  padding: .75rem;
}

.side-bar li{
  margin: .25rem 0;
}

.contents{
  width: 100%;
  margin: 1rem;
  text-align: center;
}

.extension {
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

.ant-space {
  margin-right: 90px;
}

.title {
  font-size: 2rem;
  color: #cf2338;
}

.extension a {
  float: right;
}

.ant-select-arrow .anticon>svg {
  margin-top: 6px;
}

.search .anticon svg {
  margin-top: 4px;
}

.ant-space-item{
  margin-left: 24px;
}

.ant-space-item span:hover,
.ant-space-item button:hover,
.ant-space-item span:focus,
.ant-space-item button:focus {
  border-color: #c2baba !important;
}

.ant-space-item a {
  color: black;
}

.ant-space-item .ant-btn-primary{
  background-color: red;
  margin: 0 .5rem;
}

.ant-space-item .ant-btn-primary:hover{
  background-color: rgb(255, 63, 63);
}

.ant-table-pagination .ant-pagination {
  color: red;
}

.ant-pagination .ant-pagination-item-active a{
  color: white;
}

.ant-pagination-item-active {
  color: white;
  background: #c92c2c !important;
  border-color: #c92c2c !important;
}

.ant-pagination-item-active a:hover {
  color: #333 !important;
}

.ant-pagination-options div:hover,
.ant-select div:hover {
  border-color: #c92c2c !important;
}

.ant-btn.ant-btn-default {
  color: red;
}

.ant-btn.ant-btn-default:hover {
  color: red;
  border-color: red;
}

.ant-picker:hover,
.ant-form-item-control-input-content input:hover{
  border-color: red;
}

.ant-radio-group label:hover .ant-radio-inner{
  border-color: red !important;
}

.ant-radio-checked .ant-radio-inner{
  border-color: red !important ;
  background-color: white !important;
}

.ant-radio-checked .ant-radio-inner:after{
  background-color: red;
}

.ant-radio:hover .ant-radio-inner {
  border-color: red ;
}

button.ant-btn.ant-btn-text.btn--action__noborder,
button.ant-btn.ant-btn-text.btn--action__noborder:hover {
  border: none;
  background-color: white;
  margin-right: -12px;
}

button.ant-btn.ant-btn-text[disabled].btn--action__noborder svg.svg--check,
button.ant-btn.ant-btn-text[disabled].btn--action__noborder svg.svg--check:hover {
  border: none;
  background-color: white;
  /* color: rgba(212, 42, 42, .5) !important; */
  color: #d42a2a80 !important;
}

button.ant-btn.ant-btn-text[disabled].btn--action__noborder svg.svg--rotate,
button.ant-btn.ant-btn-text[disabled].btn--action__noborder svg.svg--rotate:hover {
  border: none;
  background-color: white;
  color: #2352eb80 !important;
}

.ant-btn.ant-btn-default:focus {
  color: red;
  border-color: red;
}

.ant-select-selection-item,
.ant-select-item.ant-select-item-option {
  color: #c92c2c !important;
}

.ant-modal-confirm-btns .ant-btn-primary,
.ant-btn-primary{
  background-color: red;
}

.ant-modal-confirm-btns .ant-btn-primary:hover,
.ant-modal-footer .ant-btn-primary:hover {
  background-color: rgb(255, 84, 84);
}

.extensions {
  display: flex;
  margin: 2rem 0;
  justify-content: space-between;
}

.d-none {
  display: none;
}

#create-assignment--form .ant-input-group-addon button,
#edit-assignment--form .ant-input-group-addon button{
  color: white;
  background-color: red;
}

#create-assignment--form .ant-input-group-addon button:hover,
#edit-assignment--form .ant-input-group-addon button:hover {
  color: white;
  background-color: rgb(255, 84, 84);
}

#create-assignment--form input:hover, 
#create-assignment--form textarea:hover,
#edit-assignment--form input:hover, 
#edit-assignment--form textarea:hover{
  border-color: red;
}